$font-main: 'Commissioner', sans-serif;
$font-headings: 'Sansita Swashed', cursive;

$sun-color: #ffdd91;
$sun-rays: #d6b2a5;
$moon-color: #282e54;
$cloud-color: #c1c1c1;

$mauve-color: #b093a3;
$purple-color: #787492;

